@import "tailwindcss";


@font-face {
  font-family: 'Shabnam';
  src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-900;
}

html[lang="fa"] {
  font-family: 'Shabnam', sans-serif;
  direction: rtl;
}

/* Custom Utility Classes */
.container {
  max-width: 1280px;
  @apply px-4;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Typography Enhancements */
h1, h2, h3 {
  @apply font-bold tracking-tight;
}

p {
  @apply leading-relaxed;
}

/* Custom Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.gooz{
background-color: rgb(1, 88, 60);
padding: 14px 18px;
border-radius: 5px;
color:rgb(149, 145, 145);
}

.gooz:hover{
background-color: rgb(2, 51, 35);
}

a,p,div,section{
font-family: 'Shabnam';
}


.link-to-site{
background-color: rgb(4, 45, 96);
color: white;
position: relative;
bottom: 2px;
text-align: center;
margin: 0 auto;
padding: 10px 20px;
border-radius: 10px;
}

.link-to-site:hover{
background-color: rgb(15, 15, 213);
}